@model PasswordsViewModel

<div class="text-center">

    <!-- Form: -->
    <!-- No UI has been added yet. Just basics to test functionality. -->
    <form method="post" action="Index">
        <label for="numofChars">Number of Characters:</label><br>
        <input type="number" id="numOfChars" name="numOfChars" value="@Model.NumOfChars"><br>
        <label for="useSpecial">Would you like to use Sepcial Characters?:</label><br>
        <input type="checkbox" id="UseSpecialChars" name="UseSpecialChars" asp-for="UseSpecialChars">
        <button type="submit">Submit</button>
    </form>
    <p>@Model.PasswordGenerated</p>
</div>