@model PasswordsViewModel


<container class="m-5 bg-body bg-gradient">
    <div class="text-center">
        <h4>Random Password Generator</h4>
        <p>
            Welcome to the random password generator!
            </br>
            Using the form below input the quantity of characters you would like to use in your password.
            </br>
            (we suggest a minimum of 12 but the choice is yours.)
            </br>
            If you would like for the password to include special characters, simply check the box to include them.
        </p>
    </div>

    <div class="d-flex justify-content-center m-5">


        <!-- Form: -->
        <!-- No UI has been added yet. Just basics to test functionality. -->
        <form method="post" action="Index" class="d-flex flex-column text-center">
            <span class="m-2" id="">
                <label>Number of Characters: </label>
                <input type="number" id="numOfChars" name="numOfChars" value="@Model.NumOfChars" placeholder="Number of Characters">
            </span>

            <span class="m-2">
                <label for="useSpecial">Check for special characters: </label>
                <input type="checkbox" id="UseSpecialChars" name="UseSpecialChars" asp-for="UseSpecialChars">
            </span>

            <span class="m-2">
                <button type="submit" class="bg-dark bg-gradient text-light rounded-pill link-danger" style="padding: 1px 10px;">Submit</button>
            </span>

            <span class="m-2">
                <p>@Model.PasswordGenerated</p>
            </span>
        </form>

    </div>
</container>

